<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

  <!-- User info -->

    <%= Userauth %>
    <% if (Userauth) { %>
    <div class="login-info">
        <span>
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="img/avatars/profile.png" alt="me" class="online" />
                <span>
                    <%= profileobj %>
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
        </span>
    </div>
    <% } %>

  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
      <li class="active">
        <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
        <ul>
            <li class="active">
                <a href="/" title="Frontpage"><span class="menu-item-parent">Frontpage</span></a>
            </li>
            <li class="">
                <a href="res1" title="Resource 1"><span class="menu-item-parent">Resource 1</span></a>
            </li>
            <li class="">
                <a href="res2" title="Resource 2"><span class="menu-item-parent">Resource 2</span></a>
            </li>
            <li class="">
                <a href="res3" title="Resource 3"><span class="menu-item-parent">Resource 3</span></a>
            </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">Menu 2</span></a>
        <ul>
          <li class="">
            <a href="register" title="register"><span class="menu-item-parent">Register</span></a>
          </li>
          <li class="">
            <a href="login" title="login"><span class="menu-item-parent">Login</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

</aside>