<!DOCTYPE html>
<html lang="en-us">
<head>
    <% include ../partials/head %>
</head>

<body class="animated fadeInDown">

<header id="header">

  <div id="logo-group">
    <span id="logo"> <img src="img/aau.png" alt="AAU"> </span>
  </div>

</header>



<div id="main" role="main">

  <!-- MAIN CONTENT -->
  <div id="content" class="container">

      <br><br>

    <div class="row">

        <div class="col-md-6 col-md-offset-2">
        <div class="well no-padding">
          <form action="/login" id="login-form" class="smart-form client-form" method="post">
            <header>
              Sign In
            </header>

            <fieldset>

              <section>
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="email" name="email">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
              </section>

              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
              </section>

              <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked="">
                  <i></i>Stay signed in</label>
              </section>
            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary">
                Sign in
              </button>
            </footer>
          </form>
          <ul>
            <li><a href='/auth/github'> Or with GitHub</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</div>

<% include ../partials/script %>

<script type="text/javascript">
    runAllForms();

    $(function() {
        // Validation
        $("#login-form").validate({
            // Rules for form validation
            rules : {
                email : {
                    required : true,
                    email : true
                },
                password : {
                    required : true,
                    minlength : 3,
                    maxlength : 20
                }
            },

            // Messages for form validation
            messages : {
                email : {
                    required : 'Please enter your email address',
                    email : 'Please enter a VALID email address'
                },
                password : {
                    required : 'Please enter your password'
                }
            },

            // Ajax form submition
            submitHandler : function(form) {
                $(form).ajaxSubmit({
                    success : function() {
                        $("#login-form").addClass('submited');
                    }
                });
            },

            // Do not change code below
            errorPlacement : function(error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
</script>

</body>

</html>