<!DOCTYPE html>
<html lang="en-us">
<head>
    <% include ../partials/head %>
</head>

<body class="">

<!-- HEADER -->
<% include ../partials/header %>
<!-- END HEADER -->

<!-- Start Navigation -->
<% include ../partials/navigation %>
<!-- END NAVIGATION -->

<!-- Start Main panel-->
<div id="main" role="main">
    <h1>Resource 4</h1>
    <h2>You are logged in as:</h2>
    <p><%= profileobj %></p>
    <h2>userid</h2>
    <p><%= userid %></p>
</div>
<!-- END main panel -->

<!-- Start Footer -->
<% include ../partials/footer %>
<!-- END Footer -->

<!-- Start client side scripting -->
<% include ../partials/script %>
<!-- END client side scripting -->
</body>

</html>
